<img src="<%= link %>static/media/images/menu.svg" alt="" id="stickyMobile" class="menuButton notDisplayed" onclick="menu(this)">


<a href="https://wallet.keytom.io" target="_blank" class="basicXSS mobileOpen mobileOpenWhite mobileOpenSticky notDisplayed">
    <%- __('menu').open %>
</a>