<img src="<%= link %>static/media/images/menu-color.svg" alt="" id="stickyMobile" class="menuButton notDisplayed" onclick="menu(this)">


<a href="https://wallet.keytom.io" class="basicXSS mobileOpen mobileOpenSticky notDisplayed">
    <%= __('menu').open %>
</a>