<div class="footer">
    <!-- <div class="links">
        <a href="">
            <img src="<%= link %>static/media/images/site.svg" alt="">
        </a>
        <a href="">
            <img src="<%= link %>static/media/images/mail.svg" alt="">
        </a>
        <a href="">
            <img src="<%= link %>static/media/images/t.svg" alt="">
        </a>
    </div> -->
    <p class="textFooter">© Keytom Digital LLC, all rights reserved, 2022</p>
    <p class="textFooterSmall">Suite 7, Henville Building<br />Charlestown, Nevis, West Indies</p>
</div>