<div class="preloader">
    <img src="<%= link %>static/media/images/preloader-bg.svg" alt="" class="bg">

    <img src="<%= link %>static/media/images/shadow.svg" alt="" class="shadow">

    <img src="<%= link %>static/media/images/M.svg" alt="" class="M">

    <div class="menu">
        <img src="<%= link %>static/media/images/logo.svg" alt="" class="logo">
    </div>
</div>